/* Page style */
body {
    margin: 0;
    font-family: Times New Roman, serif;
}

/* Grid Layout */
.container {
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "sidebar main"
        "footer footer";

    grid-template-columns: 1fr 3fr;
}

/* Header */
.header {
    grid-area: header;
    background-color: green;
    text-align: center;
    padding: 20px;
}

/* Navigation */
.nav {
    grid-area: nav;
    background-color: yellow;
    padding: 10px;
}

.nav a {
    margin-right: 20px;
    color: blue;
    text-decoration: none;
}

.nav a.active {
    background-color: rgb(190, 190, 211);
    color: black;
    padding: 10px;
}

/* Sidebar */
.sidebar {
    grid-area: sidebar;
    padding: 15px;
}

/* Main Content */
.main {
    grid-area: main;
    padding: 15px;
}

/* Footer */
.footer {
    grid-area: footer;
    background-color: #d9d9d9;
    text-align: center;
    padding: 15px;
}